.App {
  text-align: center;
}

.App-header {
  position: fixed;
  bottom: 0px;
  right: 0px;
}

.App-link {
  color: #61dafb;
}
.dashboard-home {
  padding: 50px 0px;
}
.open {
  display: block;
}
.closed {
  display: none;
}

.link {
  color: blue;
  text-decoration-line: underline;
}
.close-button {
  position: absolute;
  color: #535151;
  text-decoration: double;
  font-size: 15px;
  cursor: pointer;
  right: 10px;
  top: 10px;
  width: 15px;
  z-index: 1;
  font-weight: bolder;
}

.chat-bot {
  border-radius: 5px;
  border: 1px solid#CCC;
}
.react-chatbot-kit-chat-input {
  color: black;
}
